{
  "presets": [
    ["@babel/preset-typescript", {
      "isTSX": false,
      "allExtensions": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
