body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #31373d; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

input {
  -webkit-appearance: textfield;
  margin: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.btn {
  color: white;
  font-size: 16px;
  background: #7fb466;
  padding: 10px 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #79ab61;
  cursor: pointer;
  transition: background 200ms ease, color 200ms ease;
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .btn:hover, .btn:focus {
    background: #77a960; }

.btn--test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%); }

.btn--cart-tab {
  padding: 5px 11px;
  border-radius: 3px 0 0 3px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  opacity: 0;
  min-width: inherit;
  width: auto;
  height: auto;
  z-index: 2; }
  .btn--cart-tab.js-active {
    transform: translateY(-50%);
    opacity: 1; }

.btn__counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px; }

.icon-cart--side {
  height: 20px;
  width: 20px; }

.cart {
}

.cart-section {
  position: relative;
  padding: 20px; }

.cart-section--top {
  z-index: 5; }

.cart-title {
  color: #767676;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%; }

.btn--close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #767676;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer; }
  .btn--close:hover {
    transform: scale(1.2);
    color: dimgray; }

.cart-form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 70px 0 140px 0; }

.cart-item-container {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  perspective: 400px;
  perspective-origin: 50% 0px; }

.cart-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }
  .cart-item.js-hidden {
    opacity: 0; }
  .cart-item.js-working:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2; }

.cart-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute; }

.cart-item__content {
  width: 100%;
  padding-left: 75px; }

.cart-item__content-row {
  margin-bottom: 5px; }

.cart-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676; }

.cart-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px; }

.quantity-decrement, .quantity-increment {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center; }

.cart-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  font-size: inherit;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.cart-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold; }

.cart-bottom {
  border-top: 1px solid #a5a5a5; }

.cart-info {
  padding: 15px 20px 10px; }

.cart-info__total {
  float: left;
  text-transform: uppercase; }

.cart-info__small {
  font-size: 11px; }

.cart-info__pricing {
  float: right; }

.cart-discount-notice {
  color: #767676;
  margin-bottom: 10px; }

.cart-actions-container {
  padding-top: 5px; }

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black; }

.product {
  padding: 30px;
  line-height: 1; }

.product-title,
.variant-title,
.variant-image,
.variant-price {
  margin-bottom: 20px; }

.variant-selectors {
  margin-bottom: 20px; }
  .variant-selectors label {
    display: block;
    margin-bottom: 5px; }
  .variant-selectors select {
    margin-bottom: 10px;
    width: 100%; }

.type--center {
  text-align: center; }


.product-modal-container {
  background: #fff;
}

.product-title {
  line-height: 1;
}

.btn-disabled {
  background-color: #888!important;
}
