$modal-height: 570;
$modal-footer-height: 90px;

.modal-contents,
.modal-img,
.modal-footer {
  position: relative;
}

.modal-scroll-contents {
  line-height: 1.4;
  font-size: 14px;
  padding: $gutter $gutter $modal-footer-height;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-footer {
  padding: $gutter;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom,  rgba(256, 255, 255, 0.93) 0%,rgba(255, 255, 255, 1) 100%);
}

.product-title {
  padding-top: $gutter;
  color: $color-title;
  font-size: 18px;
  font-weight: 400;
}

.product-description {
  margin-bottom: $gutter;
}

.product__price {
  margin-left: 0;
}

.product__compare-price {
  display: none;
}

.price--lowered {
  color: $color-title;
}

.product__variant-selectors {
  margin-bottom: $gutter;
}

@media (max-width: 800px) {
  .modal-img {
    border-bottom: 1px solid rgba(170,170,170,0.3);
  }

  .modal-footer {
    left: 0;
    width: 100%;
  }

  .btn--close {
    position: fixed;
  }

  .btn.beside-quantity {
    width: calc(100% - 140px);
    display: block;
  }

  .quantity-container {
    margin-left: $gutter;
    background: #fff;
  }
}

@media (min-width: 801px) {
  .modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom,  rgba(256, 255, 255, 0.93) 0%,rgba(255, 255, 255, 1) 100%);
    padding-top: 20px;
  }

  .has-image {
    .modal-footer {
      left: 60%;
      bottom: 0;
      width: 40%;
    }
    .modal-img {
      border-right: 1px solid rgba(170,170,170,0.3);
    }
  }

  .btn.beside-quantity {
    margin-left: 0;
    float: left;
    width: calc(100% - 140px);
  }

  .quantity-container {
    padding-left: $gutter;
    width: 110px;
    background: #fff;
  }
}
