.btn {
  color: white;
  font-size: 14px;
  background: $color-primary;
  padding: 4px 8px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  transition: background 200ms ease;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background: $color-primary-hover;
  }
}

.btn--parent {
  background-color: transparent;
  border: 0;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    .product__variant-image {
      transition: all 0.3s ease;
      opacity: 0.7;
    }
  }
}

.btn--test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.btn--cart-tab {
  padding: 5px 11px;
  border-radius: 3px 0 0 3px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  opacity: 0;
  min-width: inherit;
  width: auto;
  height: auto;
  z-index: $max-z-index;

  &.js-active {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.btn__counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px;
}

.icon-cart--side {
  height: 20px;
  width: 20px;
}

.btn[disabled] {
  background-color: #999;
}

.btn--close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: $color-title;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
  padding-right: 9px;

  &:hover {
    transform: scale(1.2);
    color: darken($color-title, 5%);
  }
}
