.btn {
  color: white;
  font-size: 16px;
  background: $color-primary;
  padding: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 200ms ease;
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background: $color-primary-hover;
  }
}

.btn--test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.btn--cart-tab {
  padding: 5px 11px;
  border-radius: 3px 0 0 3px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  opacity: 0;
  min-width: inherit;
  width: auto;
  height: auto;
  z-index: 2;

  &.js-active {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.btn__counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px;
}

.icon-cart--side {
  height: 20px;
  width: 20px;
}

.btn[disabled] {
  background-color: #999;
}
