$cart-item-height: 65px;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart-wrapper {
  height: 100%;
  padding-left: 10px;
}

.cart {
  height: 100%;
  background: $color-white;
  width: calc(100% - 10px);
  position: absolute;
  right: 0;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
}

.cart__header {
  padding: $gutter;
  position: relative;
  z-index: $max-z-index;
}

.cart__title {
  font-size: 18px;
  color: $color-title;
}

.cart-scroll {
  padding: 70px 0 135px 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.cart-items {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding: 0 $gutter $gutter;
  -webkit-overflow-scrolling: touch;
  perspective: 400px;
  perspective-origin: 50% 0px;
}

.cart-item {
  overflow: hidden;
  position: relative;
  min-height: $cart-item-height;
  margin-bottom: $gutter;
  transition: all 200ms;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

.cart-item.is-hidden {
  max-height: 0;
  transform: rotateX(90deg) translateY(-50%);
  margin-bottom: -65px;
  opacity: 0;
}

.cart-item__image {
  width: $cart-item-height;
  height: $cart-item-height;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  top: 0;
}

.cart-item__title {
  font-size: 14px;
  margin-left: 80px;
  display: block;
  margin-bottom: 10px;
}

.cart-item__price {
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.cart-item__variant-title {
  float: right;
  color: $color-title;
  font-size: 11px;
  font-weight: bold;
}

.cart-bottom {
  background: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid $color-border-primary;
}

.cart__subtotal__text {
  text-transform: uppercase;
  float: left;
  font-size: 11px;
  color: $color-title;
}

.cart__subtotal__price {
  float: right;
}

.cart__currency {
  font-size: 12px;
}

.cart__notice {
  font-size: 11px;
  clear: both;
  padding-top: 10px;
  text-align: center;
  color: $color-title;
}

.cart-empty-text {
  padding: 10px $gutter;
  text-align: center;
}

.btn--cart-checkout {
  clear: both;
  margin-top: 15px;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
}
