$cart-item-height: 65px;

.cart-container {
  height: 100%;
  padding-left: 10px;
}

.cart {
  height: 100%;
  background: white;
  width: calc(100% - 10px);
  position: absolute;
  right: 0;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
}

.cart__header {
  padding: $gutter;
  position: relative;
  z-index: 5;
}

.cart__title {
  font-size: 18px;
  color: $color-title;
}

.cart-scroll {
  padding: 70px 0 140px 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.cart-items {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding: 0 $gutter $gutter;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart-item {
  overflow: hidden;
  position: relative;
  min-height: $cart-item-height;
  margin-bottom: $gutter;
  animation-name: fadein;
  animation-duration: .3s;
}
.cart-item__image {
  width: $cart-item-height;
  height: $cart-item-height;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  top: 0;
}

.cart-item__title {
  font-size: 14px;
  margin-left: 80px;
  display: block;
  margin-bottom: 10px;
}

.cart-item__price {
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.cart-item__variant-title {
  float: right;
  color: $color-title;
  font-size: 11px;
  font-weight: bold;
}


.cart-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #999999;
}

.cart__subtotal__text {
  text-transform: uppercase;
  float: left;
  font-size: 11px;
  color: $color-title;
}

.cart__subtotal__price {
  float: right;
}

.cart__currency {
  font-size: 12px;
}

.cart__notice {
  font-size: 11px;
  clear: both;
  padding-top: 10px;
  text-align: center;
  color: #767676;
}

.btn--cart-checkout {
  clear: both;
  margin-top: 15px;
}

.btn--close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: $color-title;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
  padding-right: 9px;

  &:hover {
    transform: scale(1.2);
    color: darken($color-title, 5%);
  }
}
