.collection-wrapper {
  overflow: hidden;
}

.collection-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -$gutter;

  @media (max-width: 600px) {
    display: block;
  }
}

.collection-product {
  margin-left: $gutter;
  margin-bottom: $gutter;
  flex: 0 0 auto;
  display: inline-block;
}
