.collection-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -$gutter;

  .product-container {
    max-width: 230px;
    margin-left: $gutter;
    margin-bottom: $gutter;
    flex: 0 0 auto;
    display: inline-block;
  }

  @media (max-width: 600px) {
    display: block;
  }
}

.collection__title {
  font-weight: normal;
  text-align: center;
}

.product-wrapper {
  margin-left: $gutter;
  flex: 0 0 auto;
  padding-top: $gutter;
  display: inline-block;

  @media (min-width: 601px) {
    width: 250px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}
