$modal-height: 570;
$modal-footer-height: 90px;

.btn--close {
  right: 0px;
  top: 3px;
  line-height: 20px;
}

.btn {
  padding: 10px 5px;
  font-size: 16px;
  width: 100%;
  display: block;
}

.modal-wrapper {
  background: $color-white;
  max-width: 950px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: $max-z-index - 1;
  height: 100%;
}

.modal .modal-product-wrapper {
  width: 100%;
}

.modal-contents,
.modal-img,
.modal-footer {
  position: relative;
}

.modal-scroll-contents {
  line-height: 1.4;
  font-size: 14px;
  padding: $gutter $gutter $modal-footer-height;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-footer {
  padding: $gutter;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom,  rgba(256, 255, 255, 0.93) 0%,rgba(255, 255, 255, 1) 100%);
}

.product-title {
  padding-top: $gutter;
  color: $color-title;
  font-size: 18px;
  font-weight: 400;
}

.product-description {
  margin-bottom: $gutter;
}

.product__price {
  margin-left: 0;
}

.product__compare-price {
  display: none;
}

.price--lowered {
  color: $color-title;
}

.product__variant-selectors {
  margin-bottom: $gutter;
}

@media (max-width: 800px) {
  .modal-img {
    width: 100%;
    height: 40%;
    max-height: #{$modal-height}px;
    border-bottom: 1px solid rgba(170,170,170,0.3);
  }

  .product__variant-image {
    height: 100%;
  }

  .modal-contents {
    width: 100%;
    height: 60%;
    position: relative;
  }

  .modal-footer {
    left: 0;
    width: 100%;
  }

  .btn--close {
    position: fixed;
    z-index: $max-z-index;
  }

  .btn.beside-quantity {
    width: calc(100% - 140px);
    display: block;
  }

  .quantity-container {
    margin-left: $gutter;
    background: #fff;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 801px) {
  .modal-wrapper {
    margin: -#{$modal-height / 2}px auto 0 auto;
    top: 50%;
    max-height: #{$modal-height}px;
    opacity: 0;
    transform: translateY(-200px);
    animation-name: slideOut;
    animation-duration: 200ms;
    animation-fill-mode: forwards;

    &.is-active {
      animation-name: slideIn;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
    }
  }

  .modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom,  rgba(256, 255, 255, 0.93) 0%,rgba(255, 255, 255, 1) 100%);
    padding-top: 20px;
  }
  
  .has-image {
    .modal-img {
      width: 60%;
      float: left;
      height: 100%;
      border-right: 1px solid rgba(170,170,170,0.3);
    }
    .modal-contents {
      float: right;
      width: 40%;
    }
    .modal-footer {
      left: 60%;
      bottom: 0;
      width: 40%;
    }
  }

  .product__variant-image {
    max-height: 100%;
  }

  .modal-contents {
    height: 100%;
  }

  .btn.beside-quantity {
    margin-left: 0;
    float: left;
    width: calc(100% - 140px);
  }

  .quantity-container {
    padding-left: $gutter;
    width: 110px;
    background: #fff;
  }
}
