$modal-height: 570;
$modal-footer-height: 90px;

.btn--close {
  right: 0px;
  top: 3px;
  line-height: 20px;
  z-index: $max-z-index;
}

.btn {
  padding: 10px 5px;
  font-size: 16px;
  width: 100%;
  display: block;
}

.modal-wrapper {
  background: $color-white;
  max-width: 950px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: $max-z-index - 1;
  height: 100%;
}

.modal-contents {
  position: relative;
}

.modal .modal-product-wrapper {
  width: 100%;
}

@media (max-width: 800px) {
  .modal-img {
    width: 100%;
    height: 40%;
  }

  .product__variant-image {
    height: 100%;
  }

  .modal-contents {
    width: 100%;
    height: 60%;
    position: relative;
  }

  .btn--close {
    position: fixed;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 801px) {
  .modal-wrapper {
    margin: 100px auto 0 auto;
    opacity: 0;
    transform: translateY(-200px);
    animation-name: slideOut;
    animation-duration: 200ms;
    animation-fill-mode: forwards;

    &.is-active {
      animation-name: slideIn;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
    }
  }

  .modal-img {
    width: 60%;
    float: left;
    height: 100%;
  }

  .has-image {
    .modal-contents {
      float: right;
      width: 40%;
    }
  }

  .product__variant-image {
    max-height: 100%;
  }

  .modal-contents {
    height: 100%;
  }
}
