$modal-height: 570;
$modal-footer-height: 90px;

.btn--close {
  right: 0px;
  font-size: 45px;
  padding-right: 3px;
  font-weight: 100;
  z-index: $max-z-index;
}

.btn {
  margin-bottom: $gutter * 2;
}

.modal-wrapper {
  background: $color-white;
  width: 100%;
  max-width: 950px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: $max-z-index - 1;
}

.modal-contents {
  position: relative;
  padding: $gutter * 3;
  padding-left: $gutter;
}

.product {
  text-align: left;
}

.product__title,
.product__price,
.product__variant-title {
  text-align: left;
}

.product__title {
  font-size: 26px;
  font-weight: 700;
}

.product-description {
  line-height: 1.55;
  color: $color-black;

  p + p {
    margin-top: $gutter * .666;
  }
}

.modal .modal-product-wrapper {
  width: 100%;
}

.product__variant-image {
  margin: 0;
}

@media (max-width: 800px) {
  .modal {
    min-height: 100vh;
  }

  .modal-img {
    width: 100%;
    height: 40%;
    padding: 30px 30px 0;
  }

  .modal-contents {
    width: 100%;
    height: 60%;
    position: relative;
    padding: 30px;
  }

  .product__variant-image {
    max-height: 60vh;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }

  .btn--close {
    position: fixed;
    top: 0;
    right: 10px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 801px) {
  .modal-wrapper {
    margin: 100px auto 40px auto;
    opacity: 0;
    transform: translateY(-200px);
    animation-name: slideOut;
    animation-duration: 200ms;
    animation-fill-mode: forwards;

    &.is-active {
      animation-name: slideIn;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
    }
  }

  .modal-img {
    width: 60%;
    float: left;
    height: 100%;
  }

  .modal-contents--has-img {
    float: right;
    width: 40%;
  }

  .product-img-wrapper {
    height: 100%;
    max-height: $modal-height;
  }

  .product__variant-img {
    max-height: 100%;
  }

  .btn--close {
    top: -60px;
    color: lighten($color-white, 10%);

    &:hover {
      color: $color-white;
    }
  }

  .modal-contents {
    height: 100%;
  }
}
