@import "./select.scss";

.product {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.product__variant-img {
  margin: 0 auto $gutter auto;
  transition: all 0.3s ease;
  opacity: 1;

  &.is-transitioning {
    opacity: 0;
  }
}

.product__title {
  font-size: 18px;
  line-height: 1.2;
  color: $color-black;
  margin-bottom: 0;
  font-weight: 700;
}

.product__variant-title {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  margin-top: $gutter;
  text-align: center;
}

.product__price {
  margin-top: $gutter;
}

.product-description {
  margin-top: $gutter;
  line-height: 1.65;
  color: $color-black;

  p + p {
    margin-top: $gutter * .666;
  }

  a {
    color: inherit;
  }

  img {
    max-width: 100%;
  }
}

.layout-vertical {
  text-align: center;
}

.product__actual-price {
  font-size: 14px;
  color: $color-black;
  display: block;
}

.product__compare-price {
  font-size: 14px;
  text-decoration: line-through;
  color: $color-faint;
  display: block;
}

.product__variant-selectors {
  margin-top: $gutter;
  text-align: left;
}

.quantity-container {
  display: inline-block;
  margin-top: $gutter + 5;
}

.quantity {
  border-left: 1px solid;
  border-color: $color-border;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.quantity,
.quantity-increment,
.quantity-decrement {

  line-height: 1.2;
  font-size: 15px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn {
  display: block;
  margin: ($gutter + 5) auto 0;
}

.btn.beside-quantity {
  display: inline-block;
  vertical-align: top;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent;
}

.cart-item__quantity-container {
  margin-top: $gutter + 5;
  display: inline-block;
}

@media (min-width: 801px) {
  .layout-horizontal {

    .product-img-wrapper {
      float: left;
      width: 50%;
    }

    .product__title,
    .product__variant-title,
    .product__price,
    .quantity-container,
    .product-description,
    .btn:not(.beside-quantity),
    .product__variant-selectors {
      overflow: hidden;
      padding-left: $gutter;
    }
  }
}
