@import "./select.scss";

.product {
  overflow: hidden;
  width: 100%;
}

.product__variant-img {
  margin: 0 auto $gutter auto;
  transition: all 0.3s ease;
  opacity: 1;

  &.is-transitioning {
    opacity: 0;
  }
}

.is-button {
  cursor: pointer;
}

.no-image {
  .product__variant-img {
    display: none;
  }
}

.product__title {
  font-size: 18px;
  line-height: 1.2;
  color: $color-black;
  margin-bottom: $gutter;
  font-weight: 700;

  .layout-horizontal & {
    margin-top: $gutter * (2/3);
  }
}

.product__variant-title {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  text-align: center;
  margin-bottom: $gutter;
}

.product__price {
  margin-bottom: $gutter;
}

.product-description {
  margin-top: $gutter * 2;
  line-height: 1.65;
  color: $color-black;

  p + p {
    margin-top: $gutter * (2/3);
  }

  a {
    color: inherit;
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

.layout-vertical {
  text-align: center;
}

.product__actual-price {
  font-size: 14px;
  color: $color-black;
  display: block;
}

.product__compare-price {
  font-size: 14px;
  text-decoration: line-through;
  color: $color-faint;
  display: block;
}

.product__variant-selectors {
  text-align: left;
  font-size: 14px;
}

.quantity {
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 3px;
}

.quantity,
.quantity-increment,
.quantity-decrement {
  border-color: $color-border;
  line-height: 1.2;
  font-size: 15px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn {
  display: block;
}

.btn.beside-quantity {
  display: inline-block;
  vertical-align: top;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent;
}

.btn-and-quantity {
  .quantity {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: $color-white;
  }

  .quantity-container {
    display: inline-block;
  }
}

.cart-item__quantity-container {
  margin-top: $gutter + 5;
  display: inline-block;
}

.layout-vertical,
.layout-horizontal {
  .btn,
  .quantity-container {
    margin: ($gutter + 5) auto 0;
  }

  .product__variant-img {
    max-width: 100%;
  }
}

@media (min-width: 500px) {
  .layout-horizontal:not(.no-image) {

    .product-img-wrapper {
      float: left;
      width: 40%;
    }

    .product__variant-title {
      text-align: left;
    }

    .product__title,
    .product__variant-title,
    .product__price,
    .product-description,
    .btn:not(.beside-quantity),
    .btn-and-quantity,
    > .quantity-container,
    .product__variant-selectors {
      margin-left: calc(40% + #{$gutter-modal});
    }
  }
}

@media (min-width: 680px) {
  .layout-horizontal:not(.no-image) {

    .product-img-wrapper {
      float: left;
      width: 60%;
    }

    .product__title,
    .product__variant-title,
    .product__price,
    .product-description,
    .btn:not(.beside-quantity),
    .btn-and-quantity,
    > .quantity-container,
    .product__variant-selectors {
      margin-left: calc(60% + #{$gutter-modal});
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
