$color-red: #fc3e07;
$color-faint: #a2a2a3;

.product__variant-image {
  margin: 0 auto 10px auto;
}

.product__title {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin-bottom: 5px;
}

.product__prices {
  margin-bottom: 10px;
}

.product__actual-price {
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.product__compare-price {
  font-size: 12px;
  text-decoration: line-through;
  color: $color-faint;
}

.price--lowered {
  color: $color-red;
}

.product__variant-selectors {
  padding-top: 10px;
}

.component-input {
  margin-bottom: 15px;
}

.component-input__label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.shopify-select {
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: bottom;
}

.shopify-select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.shopify-select select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
