@import "./select.scss";

.product__variant-image {
  margin: 0 auto $gutter auto;
}

.product__title {
  font-size: 16px;
  line-height: 22px;
  color: $color-black;
  margin-bottom: 5px;
  font-weight: 500;
}

.product__variant-title {
  font-size: 16px;
  color: #666;
  font-weight: 400;
  margin-bottom: 15px;
}

.product__price {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.product__actual-price {
  font-size: 16px;
  line-height: 22px;
  color: $color-grey;
  display: block;
}

.product__compare-price {
  font-size: 12px;
  text-decoration: line-through;
  color: $color-faint;
  display: block;
}

.price--lowered {
  color: $color-red;
}

.product__variant-selectors {
  margin-top: $gutter;
}

.quantity-container {
  margin-left: 0;
  float: left;
  width: 90px;
  margin-right: 10px;
}

.quantity,
.quantity-decrement,
.quantity-increment {
  height: 51px;
}

.btn {
  display: inline-block;
}

.btn.beside-quantity {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 100px);
}
