.quantity-container {
  overflow: hidden;
}

.quantity-decrement, .quantity-increment {
  color: $color-title;
  display: block;
  height: 26px;
  float: left;
  line-height: 16px;
  font-family: monospace;
  width: 26px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  border: 1px solid $color-quantity-border;
}

.quantity-decrement {
  border-radius: $border-radius 0 0 $border-radius;
}

.quantity-increment {
  border-radius: 0 $border-radius $border-radius 0;
}

.quantity {
  color: black;
  width: 45px;
  height: 26px;
  font-size: 12px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  background: $color-white;
  display: inline-block;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid $color-quantity-border;
  border-bottom: 1px solid $color-quantity-border;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-container.with-buttons {
  .quantity {
    border-left: 0;
    border-right: 0;
    float: left;
  }
}
