.option-select-wrapper {
  border: 1px solid $color-border;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: $color-white;
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  display: flex;
}

.shopify-select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.option-select {
  text-align: center;

  & + & {
    margin-top: $gutter / 2;
  }
}

.option-select__label {
  display: inline-block;
  font-size: 14px;
  padding: 7px 5px 7px 7px;
  font-weight: bold;
  position: relative;

  &:after {
    content: ":";
    display: block;
    position: absolute;
    right: 0px;
    top: 7px;
  }
}

.option-select__select {
  display: inline-block;
  flex: 1 1 auto;
  font-size: inherit;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;


}
