.cart-toggle-wrapper {
  display: inline-block;
}

.cart-toggle {
  background-color: $color-primary;
  color: $color-white;
  border-radius: 3px 0 0 3px;;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  min-width: 46px;
  margin-right: 0;
  cursor: pointer;
  transition: background 200ms ease;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.cart-toggle__count {
  font-size: 18px;
  margin-bottom: 10px;
}

.icon-cart__group {
  fill: $color-white;
}

.is-inline {
  .icon-cart,
  .cart-toggle__title,
  .cart-toggle__count {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-cart {
    margin-right: 5px;
  }

  .cart-toggle__title {
    font-size: 16px;
    font-weight: normal;
  }

  .cart-toggle__count {
    margin-left: 21px;
    margin-bottom: 0;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -12px;
      height: 100%;
      width: 1px;
      background-color: $color-white;
      opacity: 0.3;
    }
  }

  &.cart-toggle {
    border-radius: 3px;
  }
}
