.toggle-container {
  display: inline-block;
}

.cart-toggle {
  background-color: $color-primary;
  color: $color-white;
  border-radius: 3px 0 0 3px;;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
  min-width: 46px;
  margin-right: 0;
  cursor: pointer;
  transition: background 200ms ease;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.cart-toggle__count {
  font-size: 18px;
  margin-bottom: 10px;
}
