.shopify-buy__collection {
  overflow: hidden;
}

.shopify-buy__collection-products {
  margin-left: calc(var(--gutter) * -1);
  text-align: center;
  @media(min-width: 601px) {
    margin-left: calc(var(--gutter-collection) * -1);
  }
}

.shopify-buy__product {
  min-width: 240px;
  width: auto;
  margin-left: var(--gutter);
  display: inline-block;
  vertical-align: top;

  & + .shopify-buy__product {
    margin-top: var(--gutter);
  }

  @media(min-width: 601px) {
    width: calc(25% - 20px);
    margin-left: var(--gutter-collection);
    margin-bottom: 50px;

    & + .shopify-buy__product {
      margin-top: 0;
    }
  }
}

.shopify-buy__btn.shopify-buy__collection-pagination-button  {
  display: none;
  margin: var(--gutter) auto;

  &.is-active {
    display: block;
  }
}
