$color-primary: #96BF48;
$color-primary-hover: #77a960;
$color-body: #31373d;
$color-grey: #666;
$color-title: #767676;
$color-border: #a5a5a5;
$color-border-primary: #79ab61;
$gutter: 20px;
$border-radius: 3px;
$color-red: #fc3e07;
$color-black: #000;
$color-faint: #a2a2a3;

