$color-primary: #95C13E;
$color-primary-hover: #6C9319;
$color-body: #31373d;
$color-grey: #666;
$color-white: #fff;
$color-title: #767676;
$color-border: #a5a5a5;
$color-border-primary: #79ab61;
$gutter: 20px;
$border-radius: 3px;
$color-red: #fc3e07;
$color-black: #000;
$color-faint: #a2a2a3;
$max-z-index: 2147483647;
