html, body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  text-rendering: auto !important;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  -webkit-appearance: textfield;
  margin: 0;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.component-container {
  overflow: hidden;
}
