:root {
  --color-primary: #78b657;
  --color-primary-hover: #5f9d3e;
  --color-body: #4c4c4c;
  --color-grey: #666;
  --color-white: #fff;
  --color-title: #4c4c4c;
  --color-cart-title: #767676;
  --color-border: #d3dbe2;
  --color-quantity-border: #767676;
  --color-border-primary: #79ab61;
  --gutter: 15px;
  --gutter-cart: 20px;
  --gutter-modal: 25px;
  --gutter-collection: 20px;
  --border-radius: 3px;
  --color-red: #fc3e07;
  --color-black: #4a4a4a;
  --color-faint: #a2a2a3;
  --max-z-index: 2147483647;
}
