$cartMaxWidth: 350px;

.shopify-buy-frame {
  display: inline-block;

  iframe {
    width: 100%;
    display: block;
  }
}

.shopify-buy-frame--cart {
  width: 100%;
  max-width: $cartMaxWidth;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  transform: translateX(100%);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

  iframe {
    height: 100%;
  }

  &.js-active {
    transform: translateX(0);
  }
}

.shopify-buy-frame--toggle {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 46px;
}

.shopify-buy-frame--productSet {
  width: 100%;
}
