$cartMaxWidth: 350px;
$max-z-index: 2147483647;

.shopify-buy-frame {
  display: inline-block;
  opacity: 0;
  transition: opacity 250ms;

  iframe {
    width: 100%;
    display: block;
  }

  &.is-resolved {
    opacity: 1;
    transition: opacity 250ms;
  }
}

.shopify-buy-frame--cart {
  width: 100%;
  max-width: $cartMaxWidth;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: $max-z-index;
  transform: translateX(100%);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

  iframe {
    height: 100%;
  }

  &.js-active {
    transform: translateX(0);
  }
}

.shopify-buy-frame--product {
  iframe {
    max-width: 230px;
  }
}

.shopify-buy-frame--toggle {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 46px;
  z-index: $max-z-index - 2;
  display: none;

  &.is-active {
    display: block;
  }
}

.shopify-buy-frame--productSet {
  width: 100%;
}

.shopify-buy-frame--modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $max-z-index - 1;
  display: none;

  iframe {
    height: 100%;
    width: 100%;
    max-width: none;
  }

  &.js-active {
    display: block;
    background: rgba(0,0,0,0.3);
  }
}
